.card {
  perspective: 1000px;
  margin-top: 50px;
  width: 380px;
  height: 220px;
  position: relative;
}

.card__inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card.is-flipped .card__inner {
  transform: rotateY(180deg);
}

.card__face--front,
.card__face--back {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 2px outset rgb(255, 255, 255, 0.6);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(9.2px);
  box-shadow: 10px 10px 26px 0px rgb(0, 0, 0, 0.5);
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s; /* Flip-Animation */
}

.card__face--back {
  transform: rotateY(180deg);
}

h2 {
  text-align: center;
  font-size: 1.2rem;
  margin: 0;
  padding-bottom: 1.5rem;
}


.showbutton,
.hidebutton {
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 150px;
  backdrop-filter: blur(15px);
  border-radius: 5px;
  margin-bottom: 1.5rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.328);
  border: 2px outset rgb(255, 255, 255, 0.6);
}
.showbutton:active, .hidebutton:active {
  border: 2px inset rgb(255, 255, 255, 0.6);
}

.showbutton--textcolor,
.hidebutton--textcolor {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.9);
}

.bookmark-icon img {
  max-width: 30px;
}
.bookmark-icon{
  max-width: 30px;
  position: absolute;
  right: 20px;
  top: -10px;
  filter: opacity(0.5) brightness(0) saturate(100%) invert(99%) sepia(5%) saturate(0%) 
  hue-rotate(350deg) brightness(107%) contrast(72%) drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3)); 
}
.bookmark-on{
  filter:brightness(0) saturate(100%) invert(47%) sepia(88%) saturate(3829%) 
  hue-rotate(337deg) brightness(98%) contrast(98%) drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}
.tags--position {
  align-self: flex-start;
  padding-bottom: 0.5rem;
}

.tags {
  display: flex;
  font-weight: 100;
  margin: 0;
  color: white;
  gap: 0.5rem;
  padding-left: 0.5rem;
  bottom: 20px;
}

.tags h4 {
  margin: 0;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(130, 132, 132,0.5);
}
  

  

