root {
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.body {
  min-height: 100vh;

  background: rgb(34, 193, 195);
  background: linear-gradient(
    145deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.dark {
  background: linear-gradient(
    145deg,
    rgba(0, 3, 120, 1) 0%,
    rgba(85, 0, 80, 1) 100%
  );
  color: antiquewhite;
}
.app__home {
  min-width: 100vw;
  padding-bottom: 100px;
  padding-top: 60px;
  position: relative;
  overflow-y: auto, none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 60px;
  z-index: 1;
  top: 0;
}
.header__background {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.328);
  border: 2px outset rgb(255, 255, 255, 0.6);
  border-radius: 0px 0px 10px 10px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(9.2px);

  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.title h1 {
  color: black;
}
.create_button {
  display: flex;
  justify-content: start;
  min-width: 65px;
  min-height: 60px;
  position: fixed;
  bottom: 80px;
  right: -5px;
  box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);
  border: 2px outset rgb(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(9.2px);
  border-radius: 50% 0% 0% 50%;
  z-index: 8;
  padding-right: 50;
  padding-left: 5px;
}
.create_button:active{
  border: 2px inset rgb(255, 255, 255, 0.6);
  
}
img:active{
  scale: 0.9;
}


/* FOOTER */

footer ul {
  position: fixed;
  width: 100vw;
  bottom: -15px;
  display: flex;
  padding: 0px;
}
footer ul a {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.328);
  border: 2px outset rgb(255, 255, 255, 0.6);
  border-radius: 10px 10px 0px 0px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(9.2px);

  display: flex;
  justify-content: center;
  width: 100%;
}

footer ul a:active {
  border: 2px inset rgb(255, 255, 255, 0.6);
}
  

footer ul a img {
  padding-block: 5px;
  height: 50px;
}
