@import url(./styles.css);

.newcard__form {
  display: none;
  margin-top: 100px;
  position: fixed;
  flex-direction: column;
  width: 380px;
  height: 530px;
  border: 2px outset rgb(255, 255, 255, 0.6);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(9.2px);
  box-shadow: 10px 10px 26px 0px rgb(0, 0, 0, 0.5);
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  z-index: 9;
}

.newcard__fieldset {
  position: relative;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-between;
  border: none;
  align-self: center;
}
p {
  font-size: 15px;
  margin: 0;
  align-self: self-end;
}
legend {
  font-size: 2rem;
  padding-bottom: 20px;
}
label {
  font-size: 1.2rem;
  margin: 0;
}
textarea {
  resize: none;
  font-size: 1.1rem;
  height: 110px;
  
  background: rgba(255, 255, 255, 0);
  border: 5px groove rgb(255, 255, 255, 0.6);
}
input {
  font-size: 1rem;
  height: 30px;
  max-width: 130px;
  background: rgba(255, 255, 255, 0);
  border: 5px groove rgb(255, 255, 255, 0.6);
}
.submit_button, .cancel_button {
  font-weight: 700;
  min-height: 30px;
  max-width: 100px;
  box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);
  border: 2px outset rgb(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0);
  border-radius: 5px;
}
.submit_button:active, .cancel_button:active{
  border: 2px inset rgb(255, 255, 255, 0.6);
  scale: 0.9;
}




.cancel_submit {
  position: absolute;
  right: 20px;
  bottom: 22px;
  display: flex;
  gap: 1rem;
}

